.frameStyle{
  background-color: #4c98b1;
  opacity: 0.9;
  overflow: scroll;
  height: 470px;
  margin-top: 3px;
  margin-right: 10px;
}

.textInside{
  margin-left: 15px;
  margin-right: 15px;
  text-align: left;
}

.bvHr{
  margin: auto 10px auto 10px;
}
